
{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Login{% endblock %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<style>
    div {text-align:center;}
    section {
        display: block;
    }
</style>

<section>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<div>
    <label for="username">Username/Email</label>
    <br><input placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    <br>
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <br><input placeholder="Password" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
     <br>
    <br><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
</div>
    <div>
    <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <a class="btn btn-danger" href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
        <hr><br><a class="btn btn-secondary" href="{{ path('fos_user_registration_register') }}">Inscription</a>
        <br>
    </div>
</form>
</section>
{% endblock %}