{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Forget password{% endblock %}

{% block body %}
    <style>
        div {text-align:center;}
    </style>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <br><input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <br><input class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
{% endblock %}