
{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Register{% endblock %}


{% block body %}
    <link rel="stylesheet" href="/assets/css/input.css">
    <style>
        div {text-align:center;}
    </style>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <fieldset class="login-input-item">
            <div class="login-input-item">
        {{ form_widget(form.username, {'attr': {'class' : 'login-user-input-email login-user-input', 'placeholder' :'Username'}}) }}<br>
        <br>{{ form_widget(form.email, {'attr': {'class' : 'login-user-input-email login-user-input', 'placeholder' :'Mail adress'}})  }}<br>
                <br>{{ form_widget(form.plainPassword.first, {'attr': {'class' : 'login-user-input-password login-user-input', 'placeholder' :'Password'}})  }}<br>
                <br>{{ form_widget(form.plainPassword.second, {'attr': {'class' : 'login-user-input-password login-user-input', 'placeholder' :'Confirmation'}})  }}<br>
                <br></div>
        </fieldset>
            <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>
   {{ form_end(form) }}
{% endblock %}
