{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    <ul class="pagination">
    {% if first is defined and current != first %}
        <span class="first">
            <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </li>
        </span>
    {% endif %}
    {% if previous is defined %}
        <span class="previous">
            <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            </li>
        </span>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
            </span>
        {% else %}
        <li class="page-item active">
            <span class="page-link">{{ page }}</span>
        </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
            <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            </li>
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
            <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        </span>
    {% endif %}
    </ul>
</div>
{% endif %}
