{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('notice') %}
        <h1>{{ 'Bonne_réponse'|trans }}{{ flashMessage }}</h1>
    {% endfor %}
    Vous avez réussis {{ win }} questions sur {{ done }}.
    <div><a class="btn btn-primary" href="{{ path("start_quizz") }}">{{ 'Relancer'|trans }}</a></div>
    <div><a class="btn btn-primary" href="{{ path("user") }}">{{ 'Retour'|trans }}</a></div>

{% endblock %}