{% extends 'base.html.twig' %}

{% block title %}Question {{ place - 1 }}{% endblock %}

{% block body %}
<br><br>
    <form method="post">
        <div class="row">
            <div class="col-6">
                <div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
                    <div class="card-header"><h3>{{ 'Nom_question'|trans }}: </h3></div>
                    <div class="card-body">{{ question.name|nl2br }}</div>
                    <div class="card-header"><h3>{{ 'Desc_question'|trans }}: </h3></div>
                    <div class="card-body">{{ question.description|nl2br }}</div>
                </div>
            </div>
            <div class="col-6">
                {% for flashMessage in app.flashes('win') %}
                <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
                    <center><h3>La réponse était bien:</h3>{{ flashMessage }}</center>
                </div>
                {% endfor %}
                {% for flashMessage in app.flashes('loose') %}
                    <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
                    <center><h3>La réponse était:</h3>{{ flashMessage }}</center>
                    </div>
                {% endfor %}
        <div  class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
            <h2><div class="card-header">{{ 'Select_Reponse'|trans }}</div></h2>
        {% for answer in answers %}
            <div  class="card-header"><input id="answer[{{ answer.id }}]" type="radio" name="answer" value="{{ answer.id }}">
            {{ answer.value|nl2br }}</div>
        {% endfor %}
        <input class="btn btn-secondary" type="submit" value="{{ 'Valider'|trans }}"></div>
            </div>
        </div>
        </div>
    </form>
{% endblock %}