{% extends 'base.html.twig' %}

{% block title %}Select{% endblock %}

{% block javascripts %}
<script src="/assets/js/newQuestion.js">
</script>
{% endblock %}

{% block body %}
    <style>
        textarea{width: 100%; height: 75px;font-size: 10px;}
    </style>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr class="table-light">
            <td>{{ appointment.name }}</td>
                <td><a class="btn btn-primary" href="{{ path("question", {"id": appointment.id}) }}">{{ 'Modifier'|trans }}</a></td>
                <td><a class="btn btn-primary" href="{{ path("delete", {"id": appointment.id}) }}">{{ 'Supprimer'|trans }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <button id="myBtn" class="btn btn-primary">{{ 'A_question'|trans }}</button>
    <div id="myModal" class="modal">
        <span class="close"></span>
        <center><div class="modal-content">
           {{ form_start(newQuestion) }}<br>
            <div class="row">
                    <div class="col-2"></div>
            <div class="col-4">
                    <div class="card-header"><h2>{{ form_label(newQuestion.name) }}</h2></div>
                    <div class="card-text">{{ form_widget(newQuestion.name) }}</div>
                </div>
                <div class="col-4">
                    <div class="card-header"><h2>{{ form_label(newQuestion.description) }}</h2></div>
                    <div class="card-text">{{ form_widget(newQuestion.description) }}</div>
                </div>
                    <div class="col-2"></div>
            </div>
            {{ form_end(newQuestion) }}
        </div></center>
    </div>

    <hr>
    {% for test in knp_pagination_render(appointments) %}
        {{ test }}
    {% endfor %}
    <div>
                {{ knp_pagination_render(appointments) }}
    </div>
{% endblock %}
