{% extends 'base.html.twig' %}
{% block title %}Edit question{% endblock %}
{% block body %}
    <style>
        textarea{width: 100%; height: 50px;font-size: 10px;background-color:lightgrey;}
    </style>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <div class="card text-white bg-secondary mb-3">
    {{ form_start(form) }}<div class="test">
            <div class="row card-body">
                <div class="col-2"></div>
                <div class="col-4">
                <center><h4>{{ form_label(form.name) }}: </h4></center><br>
                {{ form_widget(form.name, {'attr' : {'class' : 'form-control'} }) }}
                </div>
                <div class="col-4">
                <center><h4>{{ form_label(form.description) }}: </h4></center><br>
                {{ form_widget(form.description, {'attr' : {'class' : 'form-control'} }) }}
                </div>
            </div>
    <ul class="answer list_group" data-prototype="{{ form_widget(form.answer.vars.prototype)|e('html_attr') }}">
        <div class="list">
        {% for answer in form.answer %}
            <li class="{{ loop.index }} list-group-item list-group-item-action disabled d-flex justify-content-between align-items-center">{{ 'Réponse'|trans }}:
            {{ form_widget(answer.value) }}
                <input class="btn btn-secondary" type="button" value="delete" id="answer_delete" name="{{ loop.index }}" onclick="delete_answer({{ loop.index }});"></li>
        {% endfor %}
        </div>
        <button class="btn btn-primary" type="button" onclick="add_answer();">Ajouter une réponse</button>
    </ul>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
        </div>
</div>

{% endblock %}
