{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block stylsheets %}
    <link rel="stylesheet" href="/assets/css/progress.css">
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/progress.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{{ 'Utilisateur' }}</th>
                <th scope="col">{{ 'Victoires'|trans }}</th>
                <th scope="col">{{ 'Faits'|trans }}</th>
                <th scope="col">{{ 'Progrès'|trans }}</th>
            </tr>
        </thead>
    {% for user in users %}
        <tr class="table-active">
            <th scope="row">{{ user.getusername }}</th>
            <td>{{ user.getTotalWin }}</td>
            <td>{{ user.getTotalDone }}</td>
            {%  if user.getTotalDone == 0 or user.getTotalWin == 0 %}
                {% set tmp = 0 %}
            {% else %}
                {% set tmp = (user.getTotalWin / user.getTotalDone) * 100 %}
            {% endif %}
            <div class="barWrapper">
                <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ tmp }}" aria-valuemin="0" aria-valuemax="100" >
                        {{ tmp|round }}%
                    </div>
                </div>
            </td>
            </div>
        </tr>
        {% endfor %}
    </table>
{% endblock %}