{% extends 'base.html.twig' %}

{% block title %} Select question {% endblock %}
{% block javascripts %}
    <script src="/assets/js/select_answer.js" type="text/javascript"></script>
{% endblock %}
{% block body %}


    <h3>{{ 'Select_réponse'|trans }}</h3> <h6>( {{ 'Seule_une'|trans }} )</h6>
    <div class="card mb-3">
    <h3 class="card-header">{{ question.name }}</h3>
    <div class="card-body">

    <form method="post">
    {% for answer in answers %}
        <li class="list-group-item d-flex justify-content-between align-items-center" id="{{ answer.id }}">{{ answer.value }}<br>
            {% if answer.isTrue == true %}
                <input type="radio" name="select" id="answer[{{ answer.id }}]" value="{{ answer.id }}" checked>
            {% elseif answer.isTrue != true %}
                <input type="radio" name="select" id="answer[{{ answer.id }}]" value="{{ answer.id }}">
            {% endif %}
        </li>
    {% endfor %}
        <input class="btn btn-primary" type="submit" value="{{ 'Sauvegarder_select'|trans }}">
    </form>
    </div></div>
    <a class="btn btn-primary" type="button" href="{{ path("question", {"id": question.id}) }}">{{ 'Retour_modif'|trans }}</a>

{% endblock %}