<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
                                  href="https://bootswatch.com/4/flatly/bootstrap.css">
    <script type="text/javascript" src="/assets/js/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
</head>
<body>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>
