<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Passe ton Barreau - {% block title %}{% endblock %}</title>
        <link rel="stylesheet"
              href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/modal.css">
       <script type="text/javascript" src="/assets/js/jquery-2.2.3.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
    </head>
    <body>
    {% include 'navbar.html.twig' %}
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
