<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("user") }}">{{ 'start_quizz'|trans }}<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="collapse navbar-collapse" id="navbarColor03">
        <h4>Administration :</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("admin") }}">{{ 'Q_list'|trans }}<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("question_stats") }}">{{ 'U_list'|trans }}<span class="sr-only"></span></a>
            </li>

            {% endif %}
        </ul>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

</nav>