{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flashMessage in app.flashes('notice') %}
        <h1>{{ flashMessage }}</h1>
    {% endfor %}
    <div>{{ 'Nb_quizz'|trans }}:</div>
    <div>{{ 'Réussis'|trans }} : {{ app.user.getTotalWin }}</div>
    <div>{{ 'Tentés'|trans }} : {{ app.user.getTotalDone }}</div>
        {{ app.session.get('test') }}
    <a class="btn btn-primary btn-lg" href="{{ path("start_quizz", {id : app.user, place: 0, win: app.user.getTotalWin}) }}">{{ 'Lancer_quizz'|trans }}</a>
{% endblock %}
